# Go files
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
backend/vendor/

# Node files
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env*.local

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
